@import "../Variables.scss";
@import "../BreakPoints.scss";

.header-container {
  background: $main-bg-color;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $light-text-color;
  .left {
    .dropdown-nav-bar {
      display: none;
      position: relative;
      p {
        padding: 10px;
        cursor: pointer;
        font-weight: bold;
        i {
          margin-right: 10px;
        }
      }
      .dropdown-contents {
        position: absolute;
        display: none;
        white-space: nowrap;
        width: 150%;
        background: $main-bg-color;
        a {
          padding: 10px;
          color: $light-text-color;
          text-decoration: none;
          font-weight: bold;
          &:hover {
            background: #fff;
            color: $main-bg-color;
          }
        }
      }
      &:hover {
        .dropdown-contents {
          display: flex;
          flex-direction: column;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
      }
    }
  }
  .right {
    position: relative;
    .img-container {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    .dropdown-contents {
      position: absolute;
      display: none;
      white-space: nowrap;
    }
    &:hover {
      .dropdown-contents {
        display: block;
        right: 0;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        button {
          padding: 10px;
          cursor: pointer;
          border: none;
          background: #fff;
          border-radius: 0;
        }
      }
    }
  }
}

@include breakpoints(md) {
  .header-container {
    .left {
      h4 {
        display: none;
      }
      .dropdown-nav-bar {
        display: block;
      }
    }
  }
}
