@import "../GlobalStyle.scss";

.sidebar-container {
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  background: $main-bg-color;
  border-top: 1px solid #fff;
  .info-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #fff;
    color: #f2f2f2;
    .avatar {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: #f2f2f2;
      margin-bottom: 20px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    h3{
      overflow-wrap: break-word;
      max-width: 100%;
    }
  }
  .nav-bar {
    display: flex;
    flex-direction: column;
    a {
      color: #f2f2f2;
      text-decoration: none;
      text-align: center;
      min-width: 300px;
      padding: 20px;
      border-bottom: 1px solid #fff;
      font-weight: bold;
      font-size: 18px;
      &.link-active {
        background: #fff;
        color: $main-bg-color;
      }
    }
  }
}
