@import "../Variables.scss";
@import "../BreakPoints.scss";

.sidebar-container {
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  background: $main-bg-color;
  border-top: 1px solid #fff;
  .info-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #fff;
    color: $light-text-color;
    .avatar {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin-bottom: 20px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    h3 {
      overflow-wrap: break-word;
      max-width: 100%;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;  
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .nav-bar {
    display: flex;
    flex-direction: column;
    a {
      color: $light-text-color;
      text-decoration: none;
      text-align: center;
      padding: 20px;
      border-bottom: 1px solid #fff;
      font-weight: bold;
      font-size: 18px;
      &.link-active {
        background: #fff;
        color: $main-bg-color;
      }
    }
  }
}

@include breakpoints(lg) {
  .sidebar-container {
    width: 200px;
  }
}

@include breakpoints(md) {
  .sidebar-container {
    display: none;
    // position: absolute;
  }
}
