@import '../GlobalStyle.scss';

.sidebar-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: $main-bg-color;
    width: fit-content;
    border-top: 1px solid #fff;
    .info-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      border-bottom: 1px solid #fff;
      color: #f2f2f2;
      .avatar {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: #f2f2f2;
        margin-bottom: 20px;
      }
    }
    .nav-bar {
      display: flex;
      flex-direction: column;
      a {
        color: #f2f2f2;
        text-decoration: none;
        text-align: center;
        min-width: 300px;
        padding: 20px;
        border-bottom: 1px solid #fff;
        font-weight: bold;
        font-size: 18px;
        &.link-active{
          background: #fff;
          color: $main-bg-color;
        }
      }
    }
  }
  