@import "../GlobalStyle.scss";

.account-page-container {
  height: 100%;
  .control-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    .left-control {
      input {
        border: none;
        background: #ccc;
      }
    }
    .right-control {
      display: flex;
      button {
        margin-left: 10px;
        padding: 10px 20px;
        background: $main-bg-color;
        color: $light-text-color;
      }
    }
  }
  table {
    width: 100%;
    border-collapse: collapse;
    thead {
      th {
        color: $light-text-color;
        background: $main-bg-color;
        border: 1px solid $main-border-color;
        padding: 10px;
        text-decoration: underline;
      }
    }
    tbody {
      td {
        border: 1px solid $main-border-color;
        padding: 10px;
        text-align: center;
        .edit-btn {
          background: $edit-btn-color;
          color: $light-text-color;
          margin-right: 10px;
        }
        .delete-btn {
          background: $delete-btn-color;
          color: $light-text-color;
        }
      }
    }
  }
}
