@import '../GlobalStyle.scss';

.filter-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    margin-bottom: 10px;
    label{
      font-size: 14px;
      font-weight: bold;
      margin-right: 10px;
    }
    input{
      border: none;
      border-bottom: 1px solid $main-border-color;
      outline: none;
      margin-right: 10px;
    }
}