@import "../GlobalStyle.scss";

.modal-container {
  h2 {
    border-bottom: 1px solid $main-border-color;
    padding: 10px 20px;
  }
  form {
    padding: 10px 0;
    .section-item {
      padding: 0 20px;
      .section-header {
        color: $light-text-color;
        background: $main-bg-color;
        padding: 10px 20px;
        border-top-right-radius: $main-border-radius;
        border-top-left-radius: $main-border-radius;
      }
      .input-field {
        margin-top: 20px;
        display: flex;
        align-items: center;
        padding: 0 20px;
        label {
          text-align: right;
          margin-right: 20px;
          width: 20%;
          font-weight: bold;
          font-size: 14px;
        }
        input,
        select {
          flex: 1;
          padding: 10px;
        }
      }
    }
    .modal-control-bar {
      margin-top: 20px;
      border-top: 1px solid $main-border-color;
      padding-top: 10px;
      text-align: end;
      button {
        margin-right: 20px;
        padding: 10px 40px;
        background: none;
        border: 1px solid $main-border-color;
      }
      .save-btn {
        background: $main-bg-color;
        color: $light-text-color;
        border: 1px solid $main-bg-color;
      }
    }
  }
}
.rodal {
  .rodal-dialog {
    width: 800px !important;
    height: fit-content !important;
    padding: 0 !important;
  }
}
